<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.mall.meongnyang.admin.shopping.vo.AdminNoticeVO" alias="adminNotice"/>
        <typeAlias type="com.mall.meongnyang.admin.shopping.vo.AdminFaqVO" alias="faq"/>
        <typeAlias type="com.mall.meongnyang.admin.product.vo.AdminProductVO" alias="product"/>
        <typeAlias type="com.mall.meongnyang.admin.product.vo.AdminProductCategoryVO" alias="category"/>
        <typeAlias type="com.mall.meongnyang.admin.marketing.vo.AdminPromotionVO" alias="promotion"/>
        <typeAlias type="com.mall.meongnyang.admin.dashboard.vo.AdminLoginVO" alias="login"/>
        <typeAlias type="com.mall.meongnyang.client.member.vo.ClientCustomerVO" alias="clientLogin"/>
        <typeAlias type="com.mall.meongnyang.client.mypage.vo.ClientMyinfoVO" alias="clientMyinfo"/>
    </typeAliases>
    <mappers>
        <mapper resource="mappings/faq-mapping.xml"/>
        <mapper resource="mappings/notice-mapping.xml"/>
        <mapper resource="mappings/product-category-mapping.xml"/>
        <mapper resource="mappings/product-mapping.xml"/>
        <mapper resource="mappings/promotion-mapping.xml"/>
        <mapper resource="mappings/admins-mapping.xml"/>
        <mapper resource="mappings/customer-mapping.xml"/>
        <mapper resource="mappings/cm-address-mapping.xml"/>
    </mappers>
</configuration>